language: python
python:
    - "2.7"

install:
    - pip install -r requirements.txt
    - pip install -r test_requirements.txt
    - pip install 3rdParty/qualipy-1.0.790.zip
    - pip install coveralls

script:
    nosetests --with-coverage  --cover-package=vCenterShell,common,models

after_success:
    coveralls
    
notifications:
    webhools: https://qualisystems.getbadges.io/api/app/webhook/63350e33-4119-49c3-8127-075aaa022926
